{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome {{request.user}}</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn">Add Address</a></li>
    <li class="d-grid"><a href="{% url 'address' %}" class="btn btn-primary">Your Addresses</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
   <div class="row">
    <div class="col-sm-6">
     <div class="card">
      <div class="card-body">
        {% if addresses %}
        {% for address in addresses %}
       <h3>{{address.name}}'s Address</h3>

       <p>Address 1: {{address.main_address}}</p>
       <p>Address 2: {{address.street_address}}</p>
       <p>Street: {{address.additional_address}}</p>
       <p> Phone :{{address.phone_number}}</p>


     <form action="" class="d-inline">
      <input type="hidden" name="cart_id" value ={{address.id}} id = "cart_id">
      <button type="submit" class="btn btn-danger shadow px-5 py-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
          <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
        </svg>
      </button>
     </form>      </div>
    </div>
     {% endfor %}
     {% else %}
     <div class="card">
      <div class="card-body">
    <h5> No shiping address</h5><hr>
    <div class="d-flex">
      <h5 class="mt-2"> Add address</h5>
    <a href="/profile" class="btn btn-outline-info mx-4">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32"><path d="M11 11V5H13V11H19V13H13V19H11V13H5V11H11Z" fill="rgba(35,242,50,1)"></path></svg>
      </a>
    </div>
    </div></div>{% endif %}
   </div>
     <!--
    <div class="col-sm-6">
     <div class="card">
      <div class="card-body">
       <h3>Address 2</h3>
       <p>Name: {{request.user.username}}</p>
       <p>Address 1: Bharatpur</p>
       <p>Address 2: Malpotchowk</p>
       <p>Street: Hospital road</p>
      </div>
     </div>
    </div> -->
   </div>
  </div>
 </div>
</div>
{% endblock main-content %}